[submodule "3rdparty/qt-undo"]
	path = 3rdparty/qt-undo
	url = git@github.com:mitchcurtis/qt-undo.git
[submodule "3rdparty/pickawinner"]
	path = 3rdparty/pickawinner
	url = git@github.com:mitchcurtis/pickawinner.git
